In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("yellow_tripdata_2016-03.csv")
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2016-03-01 00:00:00,2016-03-01 00:07:55,1,2.50,-73.976746,40.765152,1.0,N,-74.004265,40.746128,1.0,9.0,0.5,0.5,2.05,0.00,0.3,12.35
1,1,2016-03-01 00:00:00,2016-03-01 00:11:06,1,2.90,-73.983482,40.767925,1.0,N,-74.005943,40.733166,1.0,11.0,0.5,0.5,3.05,0.00,0.3,15.35
2,2,2016-03-01 00:00:00,2016-03-01 00:31:06,2,19.98,-73.782021,40.644810,1.0,N,-73.974541,40.675770,1.0,54.5,0.5,0.5,8.00,0.00,0.3,63.80
3,2,2016-03-01 00:00:00,2016-03-01 00:00:00,3,10.78,-73.863419,40.769814,1.0,N,-73.969650,40.757767,1.0,31.5,0.0,0.5,3.78,5.54,0.3,41.62
4,2,2016-03-01 00:00:00,2016-03-01 00:00:00,5,30.43,-73.971741,40.792183,3.0,N,-74.177170,40.695053,1.0,98.0,0.0,0.0,0.00,15.50,0.3,113.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2941813,2,2016-03-12 03:14:39,2016-03-12 03:31:18,1,4.15,-74.009735,40.705204,1.0,N,-73.995270,40.755421,1.0,15.0,0.5,0.5,2.70,0.00,0.3,19.00
2941814,2,2016-03-12 03:14:40,2016-03-12 03:23:14,1,2.90,-73.940918,40.692581,1.0,N,-73.977745,40.680370,1.0,10.0,0.5,0.5,1.00,0.00,0.3,12.30
2941815,2,2016-03-12 03:14:40,2016-03-12 03:20:56,1,2.09,-73.955391,40.767971,1.0,N,-73.975319,40.745522,1.0,8.5,0.5,0.5,1.96,0.00,0.3,11.76
2941816,2,2016-03-12 03:14:41,2016-03-12 03:20:19,2,0.32,-73.983894,40.759808,1.0,N,-73.979538,40.758423,2.0,5.0,0.5,0.5,0.00,0.00,0.3,6.30
2941817,2,2016-03-12 03:14:42,2016-03-12 03:34:27,1,8.74,-73.988693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df2 = df[["tpep_pickup_datetime", "tip_amount"]]

df2.to_csv("data_tpep_tipAmount.csv")

In [14]:
df3 = df[["payment_type", "total_amount","trip_distance"]]

df3.to_csv("data_payType_totalAmount_tripDistance.csv")

In [15]:
from google.colab import files
files.download('data_tpep_tipAmount.csv')

In [16]:
from google.colab import files
files.download('data_payType_totalAmount_tripDistance.csv')